.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: $color-white;
  @include container;

  &__copyright {
    font-family: $font-stack-secondary;
    font-weight: $font-bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }
}
